/Caso1/build/
/Caso2/build/
/Caso2/nbproject/private/
/tarea++/tarea++/nbproject/private/
/tarea++/tarea++/build/
/tarea++/JavaApplication2/nbproject/private/
/tarea++/Empleados/nbproject/private/
/tarea++/casoEmpleados/nbproject/private/
/tarea++/casoEmpleados/build/
/tarea++/casoEmpleados/dist/
/tarea Iterator/tarea_Iterator/nbproject/private/
/tarea++/Encriptacion/nbproject/private/
/tarea Iterator/tarea_Iterator/build/
/tarea++/SocketConexion/nbproject/private/
/tarea++/ClienteRedSocial/nbproject/private/
/API/nbproject/private/
/API/build/
/tarea++/ClienteRedSocial/build/
/ProyectoSubastaAPP/build/
/ProyectoSubastaAPP/nbproject/private/
/SubastaApp/nbproject/private/
/ProyectoSubastaAPP/dist/
/CasoEditor/nbproject/private/